astroid == 1.4.5
autoflake == 0.6.6
autopep8 == 1.2.2
cairocffi == 0.7.2
cffi == 1.6.0
colorama == 0.3.7
docformatter == 0.7.1
imutils == 0.3.6
lazy-object-proxy == 1.2.2
numpy == 1.11.0
pep8 == 1.7.0
pip == 8.1.2
pycparser == 2.14
pyflakes == 1.2.3
pyformat == 0.6
pylint == 1.5.5
setuptools == 21.0.0
six == 1.10.0
unify == 0.2
untokenize == 0.1.1
wheel == 0.29.0
wrapt == 1.10.8
yapf == 0.8.0
